@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap");
body {
  background-color: #3d3c49;
  padding: 0;
  margin: 0;
  width: 100%;
}

.icon1,
.icon2,
.icon3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon1:focus,
.icon2:focus,
.icon3:focus,
.icon1:active .icon1´2:active .icon3:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.homeIconContainer {
  width: 100%;
  height: 80px;
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.home-icon {
  width: 50px;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
}
.container {
  width: 100%;

  background-color: #3d3c49;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  color: #ffffff;
  border-bottom: 10px solid #ec407a;
}

.container3 {
  height: 929px;
  font-family: "Open Sans", sans-serif;

  align-items: center;
  justify-content: center;
  border-bottom: 10px solid #ec407a;
}
#contain3 {
  align-items: center;
  flex-direction: column;
  
}

.box {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 150px;

  width: 1500px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Play", sans-serif;
}

#box-text {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: start;
  justify-content: flex-start;
  padding-left: 60px;
}

.vl {
  border-left: 3px solid #ec407a;
  height: 210px;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -1px;
  top: 1;
}
.skills {
  width: 500px;
  height: 400px;
}
.skills-header {
  display: flex;
  padding-left: 80px;
}

.skills-second-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding-left: 20px;
  font-size: 24px;
  font-family: "Play", sans-serif;
}

#skills-image {
  width: 100px;
}

.skills-h1 {
  width: 100px;
  height: 50px;

  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #ffffff;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.fact {
  width: 250px;
}

#jump {
  font-size: 100px;
}

.profile {
  display: flex;
  align-items: end;
}
.container {
  height: 930px;

  border-bottom: 10px solid #ec407a;
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 800px;
}

.header {
  width: 100%;
  height: 20%;

  flex-direction: row;
  gap: 3rem;
  padding-bottom: 390px;
  padding-right: 80px;

  gap: 2rem;
  display: flex;
  justify-content: flex-end;
}
li a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 10;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  filter: drop-shadow(0 0 0.75rem #ec407a);
}
nav {
  gap: 2rem;
  display: flex;
}

a:hover {
  color: #ffffff;
}
.hey-image2 {
  width: 50px;
  height: 50px;
}
.hey-image {
  padding: 10px;
  width: 80px;
  height: 80px;
}
h1 {
  color: #ffffff;
  font-size: 40px;
}

a {
  font-size: 30px;
  color: #ec407a;
  text-decoration: none;
  padding-left: 10px;
}

.random {
  height: 150px;
  color: black;
}

.section1 {
  width: 100%;
  padding-right: 80px;

  flex-direction: row;
}
.section2 {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.me-text1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: aliceblue;

  align-items: center;
  padding-top: 300px;
}

.initial-image {
  width: 300px;
  height: 100px;
}

.me-text2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  flex-direction: column;
}

.text-name {
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
}

.about-me {
  color: #ffffff;
}

.aboutme-text {
  padding: 30px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 136, 143);
  border-radius: 20px;
  font-size: 24px;
  font-family: "Dosis", sans-serif;
}

span {
  color: rgb(218, 63, 117);
  pointer-events: none;
}
.icons {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon1,
.icon2 {
  width: 80px;
  height: 80px;
}

.icon3 {
  width: 40px;
  height: 80px;
}

.btn {
  display: flex;
  gap: 1rem;
  justify-content: start;
  padding-left: 30px;
}

.btn-grey-3d {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-grey-3d:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .btn-grey-3d {
    padding: 0.25em 0.75em;
  }
}

/*
color
CE3B4F
#48A9A6 blue
403F4C grey
#EC407A    
color:rgb(126, 8, 77)
38726C*/
/*contact*/

.container-box {
  width: 100%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  height: 430px;
  width: 700px;
  background-image: url(https://cdn.pixabay.com/photo/2023/02/08/08/50/frequency-wave-7776034_1280.jpg);
  justify-content: center;
  ;

  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}
.formInfo-box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.formBox {
  width: 500px;
  height: 430px;

  background-color: rgb(255, 255, 255);
  display: flex;

  align-items: center;
  flex-direction: column;
}

#contactForm {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 70%;
}
#message {
  height: 140px;
}

.contact-main-head {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

.contact-header {
  padding: 0;
  margin: 0;
  color: #000;
  display: flex;
  align-items: flex-start;
}
.header-FormInfo {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-info {
  font-size: 25px;
}

#btn-send {
  width: 100px;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-left: 65%;
  background-color:rgb(53, 76, 118);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons-container {
 
  
  width: 100%px;
  height: 200px;
 
}

svg {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.svg-send{
  width: 20px;
  display: flex;
  justify-content: right;
  padding-right: 25px;
}
.contact-icon1{
 display: flex;
 flex-direction: row;


}

h3 {
  color: #ffffff;
  font-size: 16px;
  padding-right: 20px;
}
